{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña - CuentIA</title>
    <link rel="stylesheet" href="{% static 'css/user/styles_landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/auth.css' %}">
</head>
<body>
<div class="auth-container">
    <div class="auth-image">
        <div class="auth-image-content">

                <!-- Imagen principal más grande -->
                <img src="{% static 'images/reset_password.png' %}" alt="Ilustración de lectura" class="auth-main-image" />

            </div>
    </div>
    <div class="auth-content">
        <div class="auth-logo">
            <img src="{% static 'images/robot4.png' %}" alt="CuentIA Logo">
            <h1>CuentIA</h1>
        </div>
        <div class="auth-form-container">
            <h2 class="auth-title">Recuperar contraseña</h2>
            <p class="auth-subtitle">Ingresa tu correo para recibir instrucciones</p>

            <form method="post" class="auth-form">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}
                <button type="submit" class="auth-button">Enviar instrucciones</button>
            </form>

            <div class="auth-footer">
                <p><a href="{% url 'user:login' %}" class="auth-link">Volver a iniciar sesión</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>