{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo enviado - CuentIA</title>
    <link rel="stylesheet" href="{% static 'css/styles_landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
<div class="auth-container">
    <div class="auth-image">
        <img src="{% static 'images/login.jpg' %}" alt="Ilustración">
    </div>
    <div class="auth-content">
        <div class="auth-logo">
            <img src="{% static 'images/logo1.png' %}" alt="CuentIA Logo">
            <h1>CuentIA</h1>
        </div>
        <div class="auth-form-container">
            <h2 class="auth-title">Correo enviado</h2>
            <p class="auth-subtitle">Hemos enviado un enlace para restablecer tu contraseña si el correo existe en nuestra base de datos.</p>

            <div class="auth-footer">
                <p><a href="{% url 'user:login' %}" class="auth-link">Volver a iniciar sesión</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>